<!doctype html>
<html>
<head>
    <title>Forgot password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> <!-- load bulma css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:70px; }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <h1>Forgot password</h1>
        {{ if .Error }}
            <div class="alert alert-danger" role="alert">
                {{.Error}}
            </div>
        {{ end }}
        <form action="/user/forgot-password" method="POST">
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Email">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-secondary" href="/">Cancel</a>
        </form>
    </div>
</div>
</body>
</html> 